Repository 0xProject/0x-mesh, pull requests merged in 2020-06, with the labels that each got.

#815 Upgrade Mesh to Go 1.14
  .circleci/config.yml
  CHANGELOG.md
  CONTRIBUTING.md
  db/open_js.go
  dockerfiles/mesh-bootstrap/Dockerfile
  dockerfiles/mesh-bridge/Dockerfile
  dockerfiles/mesh/Dockerfile
  ethereum/wrappers/coordinator_registry.go
  ethereum/wrappers/dev_utils.go
  ethereum/wrappers/dev_utils_aliases.go
  ethereum/wrappers/dummy_erc721_token.go
  ethereum/wrappers/erc1155_mintable.go
  ethereum/wrappers/exchange.go
  ethereum/wrappers/weth9.go
  ethereum/wrappers/zrx_token.go
  go.mod
  go.sum
  keys/fs_js.go
  package.json
  packages/browser-lite/package.json
  packages/browser-lite/src/wasm_exec.js
  packages/browser-lite/src/wasm_exec.ts
  packages/browser-lite/tsconfig.json
  packages/browser/go/jsutil/jsutil.go
  packages/browser/package.json
  packages/integration-tests/package.json
  packages/rpc-client/package.json
  packages/webpack-example-lite/package.json
  packages/webpack-example/package.json
  tsconfig.json
  yarn.lock
  zeroex/asset_data_decoder.go
  zeroex/order.go
  zeroex/ordervalidator/order_validator.go
  zeroex/orderwatch/decoder/event_decoder.go
Labels: tech debt

#819 Add benchmark for ValidateOrder
  orderfilter/filter_bench_test.go
Labels: browser, performance

#820 Optimize InefficientlyConvertToJS
  go.mod
  go.sum
  packages/browser/go/jsutil/jsutil.go
  packages/browser/go/jsutil/jsutil_bench_test.go
Labels: browser, performance

#835 Add workaround for Dexie transaction-related errors
  packages/browser-lite/src/database.ts
Labels: browser, bug, db

#832 Re-implement dynamic max expiration time
  common/types/types.go
  core/core.go
  db/common.go
  db/db_test.go
  db/dexietypes/dexietypes.go
  db/sql_implementation.go
  db/sqltypes/sqltypes.go
  ethereum/ratelimit/rate_limiter_test.go
  go.sum
  packages/browser-lite/src/database.ts
  zeroex/orderwatch/order_watcher.go
  zeroex/orderwatch/order_watcher_test.go
  zeroex/orderwatch/slowcounter/slow_counter.go
  zeroex/orderwatch/slowcounter/slow_counter_test.go
Labels: db

#840 Optimize FindMiniHeaders by using gob encoding for event logs
  db/db_bench_test.go
  db/db_test.go
  db/dexie_implementation.go
  db/dexietypes/dexietypes.go
  db/dexietypes/dexietypes_test.go
  db/types_js.go
  packages/browser-lite/src/database.ts
Labels: browser, db, performance
